<?xml version="1.0"?>
<ruleset name="AbilityGuard">
	<description>AbilityGuard coding standards.</description>

	<file>abilityguard.php</file>
	<file>src</file>
	<file>tests</file>
	<file>examples</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/lab/*</exclude-pattern>
	<exclude-pattern>*/.phpunit.cache/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg value="sp"/>
	<arg name="parallel" value="8"/>

	<config name="minimum_supported_wp_version" value="6.9"/>
	<config name="testVersion" value="8.1-"/>
	<config name="ignore_warnings_on_exit" value="1"/>

	<rule ref="WordPress-Extra">
		<exclude name="WordPress.Files.FileName"/>
	</rule>
	<rule ref="WordPress-Docs"/>
	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="abilityguard,ag-woo-pack,ag-ff-pack"/>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array" value="abilityguard,ABILITYGUARD,AbilityGuard,ag_woo_pack,AG_WOO_PACK,ag_ff_pack,AG_FF_PACK,acme"/>
		</properties>
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.CapitalPDangit">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>

	<rule ref="Squiz.Commenting.FunctionComment.Missing">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.ClassComment.Missing">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.FileComment.Missing">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.VariableComment">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="Generic.Commenting.DocComment.Missing">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="WordPress.WP.AlternativeFunctions.file_system_operations">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="WordPress.WP.AlternativeFunctions.json_encode_json_encode">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
</ruleset>
