<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap-unit.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	failOnRisky="true"
	failOnWarning="true"
	cacheResultFile=".phpunit.cache/unit.result"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
>
	<testsuites>
		<testsuite name="unit">
			<directory>tests/Unit</directory>
		</testsuite>
	</testsuites>
	<coverage cacheDirectory=".phpunit.cache/coverage" processUncoveredFiles="true">
		<include>
			<directory suffix=".php">src</directory>
		</include>
		<exclude>
			<file>src/PublicApi.php</file>
		</exclude>
		<report>
			<clover outputFile=".phpunit.cache/coverage.xml"/>
			<text outputFile="php://stdout" showOnlySummary="true"/>
		</report>
	</coverage>
</phpunit>
